server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/Case.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/CaseFile.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/CMMNDiagram.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/CMMNElement.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/Decorator.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/EventListener.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/Expression.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/MetamodelFactory.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/MetamodelPackage.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/PlanItemDefinition.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/Sentry.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/SentryType.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/Stage.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/Task.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/TaskRole.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/TaskType.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/TimerEventListener.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/TimerExpression.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/UserEventListener.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/CaseFileImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/CaseImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/CMMNDiagramImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/CMMNElementImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/DecoratorImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/EventListenerImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/ExpressionImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/MetamodelFactoryImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/MetamodelPackageImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/PlanItemDefinitionImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/SentryImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/StageImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/TaskImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/TimerEventListenerImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/TimerExpressionImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/impl/UserEventListenerImpl.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/util/MetamodelAdapterFactory.java
server/src/main/org.eclipse.cmmnmetamodel/src/org/eclipse/emfcloud/cmmn/metamodel/util/MetamodelSwitch.java
server/src/main/org.eclipse.cmmnmetamodel/META-INF/MANIFEST.MF
server/src/main/resources/.project
server/src/main/org.eclipse.cmmnmetamodel/.classpath
server/src/main/org.eclipse.cmmnmetamodel/.gitignore
server/src/main/org.eclipse.cmmnmetamodel/.project
server/src/main/org.eclipse.cmmnmetamodel/build.properties
server/src/main/org.eclipse.cmmnmetamodel/plugin.properties
server/src/main/org.eclipse.cmmnmetamodel/plugin.xml
server/src/main/org.eclipse.cmmnmetamodel.edit/.classpath
server/src/main/org.eclipse.cmmnmetamodel.edit/.project
server/src/main/org.eclipse.cmmnmetamodel.edit/build.properties
server/src/main/org.eclipse.cmmnmetamodel.edit/plugin.properties
server/src/main/org.eclipse.cmmnmetamodel.edit/plugin.xml
server/src/main/org.eclipse.cmmnmetamodel.edit/bin/.gitignore
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCase_casefile_CaseFile.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCase_stages_Stage.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCase_tasks_Task.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreatePlanItemDefinition_sentry_Sentry.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateSentry_expression_Expression.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateStage_tasks_Task.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateTask_decorators_Decorator.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateTimerEventListener_expression_TimerExpression.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/Case.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/CaseFile.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/CMMNDiagram.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/CMMNElement.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/Decorator.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/EventListener.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/Expression.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/PlanItemDefinition.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/Sentry.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/Stage.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/Task.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/TimerEventListener.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/TimerExpression.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/obj16/UserEventListener.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/META-INF/MANIFEST.MF
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/CaseFileItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/CaseItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/CMMNDiagramItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/CMMNElementItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/DecoratorItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/EventListenerItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/ExpressionItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/MetaModelEditPlugin.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/MetamodelItemProviderAdapterFactory.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/PlanItemDefinitionItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/SentryItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/StageItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/TaskItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/TimerEventListenerItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/TimerExpressionItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.edit/src/org/eclipse/emfcloud/cmmn/metamodel/provider/UserEventListenerItemProvider.java
server/src/main/org.eclipse.cmmnmetamodel.editor/.classpath
server/src/main/org.eclipse.cmmnmetamodel.editor/.project
server/src/main/org.eclipse.cmmnmetamodel.editor/build.properties
server/src/main/org.eclipse.cmmnmetamodel.editor/plugin.properties
server/src/main/org.eclipse.cmmnmetamodel.editor/plugin.xml
server/src/main/org.eclipse.cmmnmetamodel.editor/bin/.gitignore
server/src/main/org.eclipse.cmmnmetamodel.editor/icons/full/obj16/MetamodelModelFile.gif
server/src/main/org.eclipse.cmmnmetamodel.editor/icons/full/wizban/NewMetamodel.gif
server/src/main/org.eclipse.cmmnmetamodel.editor/META-INF/MANIFEST.MF
server/src/main/org.eclipse.cmmnmetamodel.editor/src/org/eclipse/emfcloud/cmmn/metamodel/presentation/MetamodelActionBarContributor.java
server/src/main/org.eclipse.cmmnmetamodel.editor/src/org/eclipse/emfcloud/cmmn/metamodel/presentation/MetamodelEditor.java
server/src/main/org.eclipse.cmmnmetamodel.editor/src/org/eclipse/emfcloud/cmmn/metamodel/presentation/MetaModelEditorPlugin.java
server/src/main/org.eclipse.cmmnmetamodel.editor/src/org/eclipse/emfcloud/cmmn/metamodel/presentation/MetamodelModelWizard.java
server/src/main/org.eclipse.cmmnmetamodel.tests/.classpath
server/src/main/org.eclipse.cmmnmetamodel.tests/.project
server/src/main/org.eclipse.cmmnmetamodel.tests/build.properties
server/src/main/org.eclipse.cmmnmetamodel.tests/plugin.properties
server/src/main/org.eclipse.cmmnmetamodel.tests/bin/.gitignore
server/src/main/org.eclipse.cmmnmetamodel.tests/META-INF/MANIFEST.MF
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/CaseFileTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/CaseTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/CMMNDiagramTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/CMMNElementTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/DecoratorTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/EventListenerTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/ExpressionTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/MetaModelAllTests.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/MetamodelExample.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/MetamodelTests.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/PlanItemDefinitionTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/SentryTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/StageTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/TaskTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/TimerEventListenerTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/TimerExpressionTest.java
server/src/main/org.eclipse.cmmnmetamodel.tests/src/org/eclipse/emfcloud/cmmn/metamodel/tests/UserEventListenerTest.java
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_Case.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_CaseFile.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_CMMNDiagram.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_CMMNElement.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_Decorator.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_EventListener.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_Expression.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_PlanItemDefinition.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_Sentry.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_Stage.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_Task.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_TimerEventListener.gif
server/src/main/org.eclipse.cmmnmetamodel.edit/icons/full/ctool16/CreateCMMNDiagram_cmmnElements_UserEventListener.gif
