:root {
    --sprotty-background: var(--theia-layout-color3);
    --sprotty-edge: var(--theia-editor-foreground);
    --sprotty-border: var(--theia-editor-foreground);
}

svg {
    width: 100%;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--sprotty-border);
}

.label-edit input {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

.sprotty {
    height: 100%;
}

.sprotty-graph {
    font-size: 15pt;
    height: 100%;
    background: var(--sprotty-background);
}

.sprotty-graph .sprotty-node {
    fill: inherit;
}

.cmmn-case {
    fill: transparent;
    stroke: var(--sprotty-border);
    pointer-events: visiblePainted;
    stroke-width: 1;
    font-weight: bold;
    filter: url(#dropShadow);
}

.cmmn-stage {
    fill: lightskyblue;
    fill-opacity: 0.2;
    stroke: var(--sprotty-border);
    stroke-width: 1;
    font-weight: bold;
    filter: url(#dropShadow);
}

.cmmn-task {
    fill: lightskyblue;
    stroke: var(--sprotty-border);
    stroke-width: 1;
    fill-opacity: 1;
    font-weight: bold;
    filter: url(#dropShadow);
}

.cmmn-icon {
    fill: none;
    stroke: none;
    stroke-width: 0;
    fill-opacity: none;
    font-weight: bold;
}

.sprotty-node.selected {
    stroke-width: 5;
}

.sprotty-node.mouseover:not(.selected) {
    stroke-width: 3;
}

.sprotty-label-node.selected {
    fill: #000;
    font-weight: normal;
    stroke-width: 0;
    width: inherit;
}

.sprotty-label-node>.sprotty-label {
    dominant-baseline: middle;
}

.sprotty-label-node>.selection-feedback {
    fill: transparent;
    stroke: transparent;
}

.sprotty-label-node.selected>.selection-feedback {
    stroke: black;
    stroke-width: 1px;
}

.sprotty-label-node.mouseover:not(.selected) {
    fill: #595959;
    text-decoration: underline;
}

.sprotty-comp {
    line-height: 3px;
    font-weight: normal;
    text-align: left;
    stroke: var(--sprotty-border);
    stroke-width: 2px;
}

.sprotty-label {
    stroke-width: 0;
    width: inherit;
    fill: #000;
    font-weight: inherit;
    font-size: 100%;
}

.sprotty-label.heading {
    font-weight: bold;
}

.sprotty-icon {
    stroke-width: 0;
}

.sprotty-label.icon {
    fill: black;
}

.sprotty-button {
    fill: #152;
    stroke-width: 0;
}

.cmmn-sentry {
    fill: none;
    stroke: var(--sprotty-edge);
    stroke-width: 2px;
}

.cmmn-sentry>.sprotty-label {
    stroke-width: 0;
    width: inherit;
    fill: var(--sprotty-edge);
    font-weight: inherit;
    font-size: 100%;
}

.feedback-edge {
    stroke-width: 2px;
    stroke: black;
    fill: none;
}

.cmmn-sentry.mouseover:not(.selected) {
    stroke-width: 3px;
}

.cmmn-sentry>.sprotty-routing-handle {
    r: 7px;
    fill: #884;
    stroke: none;
    z-index: 1000;
}

.cmmn-sentry>.sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.cmmn-sentry>.sprotty-routing-handle.selected {
    fill: #66a;
}

.cmmn-sentry>.sprotty-routing-handle.mouseover {
    stroke: #112;
    stroke-width: 1;
}

.sprotty-missing {
    stroke-width: 1;
    stroke: #f00;
    fill: #f00;
    font-size: 14pt;
    text-anchor: middle;
}

.sprotty-popup-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.sprotty-popup-body>p {
    margin-bottom: 2px;
}

.cmmn-sentry> {
    fill: white;
}

.cmmn-sentry>.exit {
    fill: var(--sprotty-edge);
}

.cmmn-sentry>.entry {
    fill: var(--sprotty-background);
}

.cmmn-sentry.selected {
    stroke: #844;
    stroke-width: 4px;
}

.italic {
    font-style: italic;
}

.sprotty-issue.sprotty-error {
    stroke-width: 0;
    fill-opacity: 1;
}

.sprotty-issue.sprotty-warning {
    stroke-width: 0;
    fill-opacity: 1;
}

.sprotty-issue.sprotty-info {
    stroke-width: 0;
    fill-opacity: 1;
}